<div class="container">
    <div class="itemLoop col-sm" *ngFor="let items of items">
            <div class="row">
            <div class="col-sm-2">
                <img [src]= "items.imagePath" alt="" width="50px" height="50px">
                <p [hidden]="items.id"></p>
            </div>
            <div class="col-sm-4">
                {{items.description}}
                <br>
                {{items.price}}
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" (click)="updateStock(items.id)">Update Stock</button>
                <br>
            </div>
            
            <hr>
        </div>
    </div>
</div>>
